[user]
	name = Marko Grešak
	email = marko@gresak.io
	editor = vim
	signingkey = 765C0639463CDE24
[commit]
	gpgsign = true
[gpg]
	program = /usr/bin/gpg
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	autocrlf = input
	pager = diff-so-fancy | less --tabs=2 -RFX
[color]
	ui = true
[push]
	default = current
[pull]
	default = current
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
