[credential]
	helper = osxkeychain
[user]
	name = Marko Grešak
	email = marko@gresak.io
	editor = vim
	signingkey = 540A397B4A9D7B5D
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/bin/gpg
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	autocrlf = input
	pager = delta --plus-color="#012800" --minus-color="#340001" --theme='Nord'
[interactive]
    diffFilter = delta --color-only
[color]
	ui = true
[push]
	default = current
[pull]
	default = current
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

